<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - WiseBite WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WiseBite WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WiseBite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>190F102A1BF712380011D198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>190F10431BF712380011D198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>190F104E1BF712380011D198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>190F10571BF712380011D198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
